// public class
.format-list {
	list-style: none;
	margin: auto;
	padding: 0;
}
@include keyframes('reveal-content') {
	0% {opacity: 0; }
	50% {opacity: 0.5;}
	100% {opacity: 1; }
}

/* Products */
.product-header {

		@include vendor('animation', 'reveal-content 5s ease');
		@include vendor('transition', (
			'opacity #{_duration(transition)} ease-in-out'
		));
}

.products {
	@extend .format-list;
  li {
		h2 {
			margin-bottom: 0.2rem;
		}
    p {
      margin-bottom: 0;
    }
  }
	& + * {
		border-top: 0 !important;
	}
}

.exp-list {
	@extend .format-list;
	.exp-list-item {
		margin: 5rem auto;
		font-size: 16px;
		p {
			margin-bottom: 0;
			&.exp-item-time {
				font-size: 14px;
				i {
					  border-bottom: 2px solid #424242;
				}
			}
			&.exp-item-role {
				font-size: 20px;
				font-weight: 600;
			}
		}
	}
}
